<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://up-ipa.xyz/file/1547d4f0-194d-4286-af9c-3b80782a50fb.ipa/shared/3NKNwGZBjq02wXFB</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.89A90676-0F60-41D0-8FDE-3C9752505DDE</string>
				<key>bundle-version</key>
				<string>1.4.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Ninja148</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
